<div class="navbar-wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="login">Login</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a class="page-scroll" page-scroll href="#page-top">Home</a>
					</li>
					<li>
						<a class="page-scroll" page-scroll href="#features">Features</a>
					</li>
					<li>
						<a class="page-scroll" page-scroll href="#team">Team</a>
					</li>
					<li>
						<a class="page-scroll" page-scroll href="#pricing">Pricing</a>
					</li>
					<li>
						<a class="page-scroll" page-scroll href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
	<ol class="carousel-indicators">
		<li data-target="inSlider" data-slide-to="0" class="active"></li>
		<li data-target="inSlider" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<h1>
						We craft
						<br />
						brands, web apps,
						<br />
						and user interfaces
						<br />
						we are NextGen Invoice.
					</h1>
					<p>We awake to fulfill your dreams</p>
				</div>
				<div class="carousel-image wow zoomIn">
					<img src="img/landing/laptop.png" alt="laptop" />
				</div>
			</div>
			<!-- Set background for slide in css -->
			<div class="header-back one"></div>

		</div>
		<div class="item">
			<div class="container">
				<div class="carousel-caption blank">
					<h1>
						We create meaningful
						<br />
						interfaces that inspire.
					</h1>
					<p>We build a standard</p>
				</div>
			</div>
			<!-- Set background for slide in css -->
			<div class="header-back two"></div>
		</div>
	</div>
	<a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<section id="features" class="container services">
	<div class="row">
		<div class="col-sm-3">
			<h2>Manage your inventory</h2>
			<p>//TODO add details here</p>
		</div>
		<div class="col-sm-3">
			<h2>A step towards Digital India</h2>
			<p>//TODO add details here</p>
		</div>
		<div class="col-sm-3">
			<h2>Sustain your business standard</h2>
			<p>//TODO add details here</p>
		</div>
		<div class="col-sm-3">
			<h2>Create Easy Invoices</h2>
			<p>//TODO add details here</p>
		</div>
	</div>
</section>

<section class="container features">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="navy-line"></div>
			<h1>
				NextGen Invoice
				<br />
				<span class="navy"> A unique solution for your inventory</span>
			</h1>
			<p>We understand the value of your business</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-center wow fadeInLeft">
			<div>
				<i class="fa fa-mobile features-icon"></i>
				<h2>Complete Hardware & SOftware Kit</h2>
				<p>//TODO add details here</p>
			</div>
			<div class="m-t-lg">
				<i class="fa fa-bar-chart features-icon"></i>
				<h2>Company logo on invoice</h2>
				<p>//TODO add details here</p>
			</div>
		</div>
		<div class="col-md-6 text-center  wow zoomIn">
			<img src="img/landing/perspective.png" alt="dashboard" class="img-responsive">
		</div>
		<div class="col-md-3 text-center wow fadeInRight">
			<div>
				<i class="fa fa-envelope features-icon"></i>
				<h2>Maintain customer records</h2>
				<p>//TODO add details here</p>
			</div>
			<div class="m-t-lg">
				<i class="fa fa-google features-icon"></i>
				<h2>Do Promotions</h2>
				<p>//TODO add details here</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="navy-line"></div>
			<h1>Discover great feautres</h1>
			<p>//TODO add details here</p>
		</div>
	</div>
	<div class="row features-block">
		<div class="col-lg-6 features-text wow fadeInLeft">
			<small>NextGen Invoice</small>
			<h2>Designed with care</h2>
			<p>//TODO add details here</p>
		</div>
		<div class="col-lg-6 text-right wow fadeInRight">
			<img src="img/landing/dashboard.png" alt="dashboard" class="img-responsive pull-right">
		</div>
	</div>
</section>

<section id="team" class="gray-section team">
	<div class="container">
		<div class="row m-b-lg">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>Our Team</h1>
				<p>//TODO A single line to suit our team</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 wow fadeInLeft">
				<div class="team-member">
					<img src="img/landing/hitesh.jpg" class="img-responsive img-circle img-small" alt="">
					<h4>
						<span class="navy">Hitesh</span>
						Katariya
					</h4>
					<p>A passionate guy, who worked hard to provide such a system</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="team-member wow zoomIn">
					<img src="img/landing/bhanvar.jpg" class="img-responsive img-circle" alt="">
					<h4>
						<span class="navy">Bhanvar</span>
						Singh
					</h4>
					<p>A brilliant guy who understands your problems and works towards to resolve the same</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4 wow fadeInRight">
				<div class="team-member">
					<img src="img/landing/scorp.jpg" class="img-responsive img-circle img-small" alt="">
					<h4>
						<span class="navy">Scorp</span>
						Scorp
					</h4>
					<p>A Successfull enterprenuer</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
				<p>//TODO 2-3 lines for the team</p>
			</div>
		</div>
	</div>
</section>

<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>Even more great feautres</h1>
				<p>//TODO</p>
			</div>
		</div>
		<div class="row features-block">
			<div class="col-lg-3 features-text wow fadeInLeft">
				<small>NextGen Invoice</small>
				<h2>Perfectly designed</h2>
				<p>//TODO</p>
			</div>
			<div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
				<img src="img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
			</div>
			<div class="col-lg-3 features-text text-right wow fadeInRight">
				<small>NextGen Invoice</small>
				<h2>Perfectly designed</h2>
				<p>//TODO</p>
			</div>
		</div>
	</div>

</section>

<section class="timeline gray-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>Our workflow</h1>
				<p>How you can get started with the system.</p>
			</div>
		</div>
		<div class="row features-block">

			<div class="col-lg-12">
				<div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
					<div class="vertical-timeline-block">
						<div class="vertical-timeline-icon navy-bg">
							<i class="fa fa-briefcase"></i>
						</div>

						<div class="vertical-timeline-content">
							<h2>Express your interest</h2>
							<p>
								Either you can contact us directly or you can fill up the
								<a>enquiry form</a>
							</p>
							<span class="vertical-date"> Step-1 </span>
						</div>
					</div>

					<div class="vertical-timeline-block">
						<div class="vertical-timeline-icon navy-bg">
							<i class="fa fa-file-text"></i>
						</div>

						<div class="vertical-timeline-content">
							<h2>Meeting</h2>
							<p>Our representative will get in touch with you and will understand your business requirement.</p>
							<span class="vertical-date"> Step-2 </span>
						</div>
					</div>

					<div class="vertical-timeline-block">
						<div class="vertical-timeline-icon navy-bg">
							<i class="fa fa-cogs"></i>
						</div>

						<div class="vertical-timeline-content">
							<h2>Quotation and Payment</h2>
							<p>Our sales team will send you quotation and you can discuss the payment mode with them.</p>
							<span class="vertical-date"> Step-3 </span>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</section>

<section id="pricing" class="pricing">
	<div class="container">
		<div class="row m-b-lg">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>App Pricing</h1>
				<p>We provide following packages.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 wow zoomIn">
				<ul class="pricing-plan list-unstyled">
					<li class="pricing-title">Basic</li>
					<li class="pricing-desc">Prices may vary based on your business requirements. Contact our sales team for quotation.</li>
					<li class="pricing-price">
						<span>INR 30000</span>
						One time fee.
					</li>
					<li class="pricing-price">
						AMC
						<span>INR 1200</span>
						/ Year
					</li>
					<li>1 User account</li>
					<li>
						<a class="btn btn-primary btn-xs" href="#">Apply Now</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-4 wow zoomIn">
				<ul class="pricing-plan list-unstyled selected">
					<li class="pricing-title">Standard</li>
					<li class="pricing-desc">Prices may vary based on your business requirements. Contact our sales team for quotation.</li>
					<li class="pricing-price">
						<span>INR 75000</span>
						One time fee.
					</li>
					<li class="pricing-price">
						AMC
						<span>INR 3000</span>
						/ Year
					</li>
					<li>1 User account</li>
					<li>1 Computar</li>
					<li>1 Printer</li>
					<li>1 Bar Code Reader</li>
					<li>
						<a class="btn btn-primary btn-xs" href="#">Apply Now</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-4 wow zoomIn">
				<ul class="pricing-plan list-unstyled">
					<li class="pricing-title">Premium</li>
					<li class="pricing-desc">Prices may vary based on your business requirements. Contact our sales team for quotation.</li>
					<li class="pricing-price">
						<span>INR 90000</span>
						One time fee.
					</li>
					<li class="pricing-price">
						AMC
						<span>INR 4000</span>
						/ Year
					</li>
					<li>5 User accounts</li>
					<li>1 Computar</li>
					<li>1 Printer</li>
					<li>1 Bar Code Reader</li>
					<li>
						<a class="btn btn-primary btn-xs" href="#">Apply Now</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row m-t-lg">
			<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
				<p>//TODO Other details</p>
			</div>
		</div>
	</div>

</section>

<section id="contact" class="gray-section contact">
	<div class="container">
		<div class="row m-b-lg">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>Contact Us</h1>
				<p>We provide services at your convenience and at your doorstep.</p>
			</div>
		</div>
		<div class="row m-b-lg">
			<div class="col-lg-3 col-lg-offset-3">
				<address>
					<strong><span class="navy">NextGen Invoice</span></strong>
					<br />
					Hiranandani Gardens, Powai
					<br />
					Mumbai, Maharasthra
					<br />
					India 400076
					<br />
					<abbr title="Phone">P:</abbr> 99293-35632
				</address>
			</div>
			<div class="col-lg-4">
				<p class="text-color">//TODO Short note about company</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
				<p class="m-t-sm">Or follow us on social platform</p>
				<ul class="list-inline social-icon">
					<li>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
				<p>
					<strong>&copy; 2017 NextGen Invoice</strong>
					<br />
					We awake to fulfill your dreams
				</p>
			</div>
		</div>
	</div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
	$(document).ready(function() {
		// Page scrolling feature
		$('a.page-scroll').bind('click', function(event) {
			var link = $(this);
			$('html, body').stop().animate({
				scrollTop : $(link.attr('href')).offset().top - 50
			}, 500);
			event.preventDefault();
			if ($('body').hasClass('body-small')) {
				$('#navbar').collapse('toggle');
			}
		});

		// Activate WOW.js plugin for animation on scrol
		new WOW().init();
	});

	var cbpAnimatedHeader = (function() {
		var docElem = document.documentElement, header = document.querySelector('.navbar-default'), didScroll = false, changeHeaderOn = 200;
		function init() {
			window.addEventListener('scroll', function(event) {
				if (!didScroll) {
					didScroll = true;
					setTimeout(scrollPage, 250);
				}
			}, false);
		}
		function scrollPage() {
			var sy = scrollY();
			if (sy >= changeHeaderOn) {
				$(header).addClass('navbar-scroll')
			} else {
				$(header).removeClass('navbar-scroll')
			}
			didScroll = false;
		}
		function scrollY() {
			return window.pageYOffset || docElem.scrollTop;
		}
		init();

	})();
</script>